.footer-section {
    background-color: #2c5b43;
    color: #fff;
    padding: 60px 0 30px;
    font-family: "Poppins", sans-serif;
}

.footer-logo {
    width: 180px;
    margin-bottom: 10px;
}

.footer-section h6 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    font-size: 14px;
    margin-bottom: 10px;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s;
}

.footer-section ul li:hover {
    text-decoration: underline;
    color: #fff;
}

.footer-contact h6 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}

.footer-contact p {
    font-size: 14px;
    margin-top: 8px;
}

.email-icon {
    color: #ffffff;
    font-size: 18px;
    margin-left: 5px;
    vertical-align: middle;
}

.footer-section hr {
    border-color: rgba(255, 255, 255, 0.2);
    margin: 40px 0 20px;
}

.footer-bottom p {
    font-size: 13px;
    margin: 0;
}

.payment-icons svg {
    font-size: 28px;
    color: #fff;
    margin-left: 10px;
}

.footer-col {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .footer-section {
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .payment-icons {
        justify-content: center !important;
        margin-top: 10px;
    }
}